@model Customer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


}
<partial name="_AdminNavBar" />


<h1>@Model.Name</h1>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>

    @if (@Model.Birthdate != null)
    {

        <li>BirthData: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>
